version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: products
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "6001:6001"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/products
      REDIS_URL: redis://redis:6379/0
      UPLOAD_DIR: /tmp/uploads
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
      - ./uploads:/tmp/uploads

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile 
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/products
      REDIS_URL: redis://redis:6379/0
    volumes:
      - ./backend/app:/worker/backend/app
      - ./uploads:/tmp/uploads

volumes:
  pgdata:
